/* Set variables */
:root {
    --black: #000000;
    --light-green: #6BD425;
    --dark-green: #0F5B4F;
    --blue: #40C9CE;
    --orange: #FC9044;
    --robot: 'Orbitron', sans-serif;
    --text:  'Quantico', sans-serif;
}

/* Manage default settings for all */
* {
    background-color: var(--black);
    color: var(--light-green);
    font-family: var(--text);
}

/* Set display default for outermost parent container */
.outer-container {
    display: flex;
    flex-direction: column;
}

/* Header will be constant throughout states */
header {
    border-bottom: 3px dashed var(--dark-green);
}

.running-bugs {
    height: 40px;
}

/* Set screenshot images max-width */
.screenshot {
    max-width: 100px; /* keeps screenshots small and manageble */
}

.headline {
    display: flex;
    align-items: baseline;
}

Aside {
    display: inline-flex;
    flex-direction: column;
    max-width: 25%;
    border-right: 3px dashed var(--dark-green);
    padding-right: 10px;
}

Main{
    padding-left: 10px;
}

.main-container {
    display: flex;
    height: 60vh;
}

h1 {
    color: var(--blue);
    font-family: var(--robot);
    font-size: 52px;
}

h2 {
    color: var(--blue);
    font-family: var(--robot);
    font-size: 36px;
}

Footer {
    border-top: 3px dashed var(--dark-green);
    padding-top: 10px;
}
