/* Set variables */
:root {
    --black: #000000;
    --light-green: #6BD425;
    --dark-green: #0F5B4F;
    --blue: #40C9CE;
    --orange: #FC9044;
    --robot: 'Orbitron', sans-serif;
    --text: 'Quantico', sans-serif;
}

/* Manage default settings for all */
* {
    background-color: var(--black);
    color: var(--light-green);
    font-family: var(--text);
}

/* Set display default for outermost parent container */
.outer-container {
    display: flex;
    flex-direction: column;
}

/* Header will be constant throughout states */
header {
    border-bottom: 3px dashed var(--dark-green);
}

.running-bugs {
    height: 40px;
}

/* Set screenshot images max-width */
.screenshot {
    max-width: 150px; /* keeps screenshots small and manageble */
}

.headline {
    display: flex;
    align-items: baseline;
}

/* The Aside component will serve as a constant nav bar throughout all views */
Aside {
    display: inline-flex;
    flex-direction: column;
    max-width: 25%;
    border-right: 3px dashed var(--dark-green);
    padding-left: 20px;
    padding-right: 20px;
}

.nav-bar {
    list-style-type: square;
    text-transform: uppercase;
}

/* Main houses our forms and render of lists */
Main{
    padding-left: 20px;
}

.main-container {
    display: flex;
}

button {
    padding: 5px;
    margin: 10px;
    font-size: 18px;
    color: var(--blue);
}

h1 {
    color: var(--blue);
    font-size: 52px;
    font-family: var(--robot);
}

h2 {
    color: var(--blue);
    font-size: 42px;
    font-family: var(--robot);
}

h3 {
    color: var(--blue);
    font-size: 34px;
    font-family: var(--robot);
}

h4 {
    color: var(--dark-green);
    font-size: 34px;
    font-family: var(--robot);
}

/* Footer has information of who made the app */
Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px dashed var(--dark-green);
    padding-top: 10px;
    padding-top: 40px;
    justify-content: center;
}
